*{
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial;
}

.name{
    width:20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .name .logopic img{
   width:100%;
  }

  .description{
    margin-left: 20px;
  }

.description h1{
    margin-bottom: 10px;
    
}

.description p{
    margin-bottom: 30px;
}
.story-card{
    width:20%;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.story-card:hover{
    box-shadow: 2px 2px 10px black;
}

.story-image img{
    width:100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.story-title{
    text-align: center;

}

.story-description{
    text-align: center;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(119, 219, 119);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    color:aliceblue;
    transition: .5s;
    cursor: pointer;
}

.description1{
    margin-left: 20px;
  }

.description1 h1{
    margin-bottom: 10px;
    
}

.description1 p{
    margin-bottom: 30px;
}

.story-card1{
    width:20%;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.story-card1:hover{
    box-shadow: 2px 2px 10px black;
}

.story-image1 img{
    width:100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.story-title1{
    text-align: center;

}

.story-description1{
    text-align: center;
}

.storybutton{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(119, 219, 119);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.storybutton:hover{
    background-color: white;
    color:aliceblue;
    transition: .5s;
    cursor: pointer;
}
